@import "src/assets/scss/variables";
@font-face {
  font-family: sfPro;
  src: local("sfPro"),
    url("#{$font-path}/SFProDisplay-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: montserratPegular;
  src: local("montserratPegular"),
    url("#{$font-path}/Montserrat-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: sfUiDisplay;
  font-style: normal;
  font-weight: normal;
  src: local("sfUiDisplay regular"),
    url("#{$font-path}/SFUIDisplay-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: sfUiDisplay;
  font-style: normal;
  font-weight: 200;
  src: local("sfUiDisplay 200"),
    url("#{$font-path}/sf-ui-display-ultralight-200.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: sfUiDisplay;
  font-style: normal;
  font-weight: 300;
  src: local("sfUiDisplay 300"),
    url("#{$font-path}/sf-ui-display-thin-300.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: sfUiDisplay;
  font-style: normal;
  font-weight: 400;
  src: local("sfUiDisplay 400"),
    url("#{$font-path}/sf-ui-display-light-400.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: sfUiDisplay;
  font-style: normal;
  font-weight: 500;
  src: local("sfUiDisplay 500"),
    url("#{$font-path}/sf-ui-display-medium-500.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: sfUiDisplay;
  font-style: normal;
  font-weight: 600;
  src: local("sfUiDisplay 600"),
    url("#{$font-path}/sf-ui-display-semibold-600.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: sfUiDisplay;
  font-style: normal;
  font-weight: 700;
  src: local("sfUiDisplay 700"),
    url("#{$font-path}/sf-ui-display-bold-700.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: sfUiDisplay;
  font-style: normal;
  font-weight: 800;
  src: local("sfUiDisplay 800"),
    url("#{$font-path}/sf-ui-display-heavy-800.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: sfUiDisplay;
  font-style: normal;
  font-weight: 900;
  src: local("sfUiDisplay 900"),
    url("#{$font-path}/sf-ui-display-black-900.woff") format("woff");
  font-display: swap;
}
