@import "./../variables";
.pl-sign-contract-terms-top-navbar {
  background: $white;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);

  .pl-sign-contract-terms-top-navbar-container {
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0;
  }
}
.sent-contract-box-actions {
  display: flex;
  gap: 8px;
  align-items: center;
  .pl-btn {
    max-width: 143.5px;
  }
}
.pl-btn.pl-btn-sign-contract-terms {
  max-width: 200px;
  height: 40px;
  font-family: $sfUiDisplay;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: $white;
  flex: none;
}
.pl-btn.pl-btn-vue-pdf {
  max-width: 100px;
  height: 40px;
  font-family: $sfUiDisplay;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: $white;
  background-color: $system-color-indigo;
  flex: none;

  &:hover,
  &:focus,
  &:active {
    background-color: #8f8dfa;
  }
}
.sign-contract-terms-title {
  font-family: $sfUiDisplay;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: $grey-08;
  width: 100%;
  margin-bottom: 0;
}
.sign-contract-terms-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.sign-contract-terms-pdf-document {
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: calc(100vh - 120px);
}
.pl-pdf-document-container {
  background: #999999;
}
.pl-vue-pdf-actions-container {
  display: flex;
  align-content: space-between;
  padding-bottom: 10px;
  .pl-vue-pdf-pagination {
    flex: none;
    margin: 0;
    font-family: $sfUiDisplay;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: $white;
    align-self: center;
  }
  .pl-vue-pdf-actions {
    width: 100%;
    text-align: right;

    & button {
      margin-left: 8px;
    }
  }
}
.pl-btn-sign-contract-terms-mobile-box {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: $white;
  height: 64px;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  place-content: center;
  .pl-btn-sign-contract-terms-mobile {
    margin: auto 0;
    font-family: $sfUiDisplay;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
}
#payday-loan-success .pl-modal-success-btn.pl-sign-contract-terms-success {
  display: flex;
  align-self: center;
  gap: 8px;
  .pl-btn {
    max-width: 143.5px;
  }
}

.pl-prompt-image {
  margin: 8px auto 0;
  width: 56px;
  height: 56px;
  background: $dim-color-green;
  border-radius: 50%;
  display: flex;
  align-items: center;
  place-content: center;
}

.sent-otp-text {
  font-family: $sfUiDisplay;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  /* Grey / 08 */

  color: $grey-08;
}

@media (max-width: 768px) {
  #payday-loan-layout-container .container.sign-contract-terms-pdf-document {
    min-height: calc(100vh - 64px);
    padding: 40px 16px 80px;
  }
}
