.fb_customer_chat_icon {
  animation: 0.3s ease-out 0s 1 normal none running slideInFromBottom;
  background: none;
  border-radius: 29px;
  bottom: 70px;
  box-shadow: rgb(0 0 0 / 15%) 0px 4px 12px 0px;
  display: block;
  margin: 0 12px;
  overflow: visible;
  padding: 0;
  position: fixed;
  top: auto;
  z-index: 2147483644;
  right: 0;
  width: 48px;
  height: 48px;

  svg {
    width: 48px;
    height: 48px;
  }
}
